# Ignore virtual environments
venv/
backend/venv/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore downloads
downloads/
backend/downloads/

# Ignore system files
.DS_Store
Thumbs.db
